# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# PyCharm
.idea/

# Jupyter (если вдруг)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Matplotlib / output images (если сохраняешь графики)
*.png
*.jpg
*.pdf

# Numpy / data dumps
*.npy
*.npz